<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">Price : {{product.price}}</p>
      <p class="card-text">Quantity : {{product.quantity}}</p>
      <p class="card-text">Like : {{product.like}}</p>
     <!-- <button (click)="BuyProduct(p.id)" [disabled]="p.quantity == 0">Buy</button>
     <button (click)="LikeProduct(p.id)">Like</button>
      <button [routerLink]="['/product/',p.id,p.title]">Details</button>
   
    <button [routerLink]="['/updateProduct/',p.id]">Update</button>
     <button (click)="Delete(p.id)">Delete</button>
    -->

    </div>
  </div>